{% extends "base.html" %}
{% block content %}
    <h1>{{ todo_list.title }}</h1>
    <p>{{ todo_list.description }}</p>

    <h2>Todos:</h2>
    <ul>
        {% for todo in todos %}
            <li>{{ todo.title }} - {{ todo.due_date }} - {% if todo.status %}Done{% else %}Pending{% endif %}
                <a href="{% url 'edit_todo' todo.id %}">Edit</a> |
                <a href="{% url 'delete_todo' todo.id %}">Delete</a>
            </li>
        {% endfor %}
    </ul>

    <a href="{% url 'edit_todo_list' todo_list.id %}">Edit Todo List</a>
    <a href="{% url 'delete_todo_list' todo_list.id %}">Delete Todo List</a>
{% endblock %}
